<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <!-- jquery for front end -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- socket.io CDN script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link rel="icon" type="image/png" href="favicon-16x16.png">
  </head>
  <body>
    <div class="">
      <p id="banner">Calls Waiting</p>
      <form id="waitingCallsDiv">
        <input type="text" id="waitingCalls" value="0">
        <button type="button" id="set">Set</button>
        <select id="situation">
          <option value="calm">רגיעה</option>
          <option value="regular">שגרת חירום</option>
          <option value="emergency">חירום</option>
        </select>
      </form>
    </div>
    <div id="answerDiv">
      <button type="button" id="answerCall">Answer Call</button>
    </div>
    <div id="tableDiv">
      <table class="callTable">
        <thead>

          <tr>
              <th>Start Time</th>
              <th>City</th>
              <th>Topic</th>
              <th>Language</th>
              <th>Gender</th>
              <th>Age</th>
              <th>End</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
    <script type="text/javascript" src="frontend.js"></script>
  </body>
</html>
