h1 {
  font-size: 32px;
  line-height: 150px;
  text-shadow: -1px -1px #fb6, 1px 1px #d60, -3px 0 4px #000;
  font-family:"Segoe print", Arial, Helvetica, sans-serif;
  color: #FF9933;
  padding:32px;
  font-weight:lighter;
  -moz-box-shadow: 2px 2px 6px #888;
  -webkit-box-shadow: 2px 2px 6px #888;
  box-shadow:2px 2px 6px #888;
  text-align:center;
  display:inline;
  background-image:url(call-center.jpg)
}

.chartDiv {
  position: relative;
  height: 300px;
  width: 600px;
}

.right {
  float: right;
}

.left {
  float: left;
}
